./.venv/
./alz.h5ad
./alz.loom
./SCING/intermediate_networks/
./SCING/supercells.h5ad
./SCING/joblog/
./CellOracle/joblog/
./CellOracle/temp/
./pySCENIC/joblog/
./pySCENIC/dask-worker-space/*

*.h5ad
*.loom
*.csv
*.csv.gz
*.oracle
*.txt
*.so
*.dirlock